/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  /* Colors */
  --color-primary: #3b8fd4;
  --color-primary-hover: #4f9ad8;
  --color-primary-lighter: #62a5dd;
  --color-bg: #373c40;
  --color-bg-light: #4b5053;
  --color-bg-lighter: #5f6366;
  --color-bg-lightest: #878a8c;
  --color-bg-dark: #32363a;
  --color-bg-darker: #2c3033;
  --color-white: #eee;
  --color-success: #81C784;
  --color-danger: #E57373;

  /* SvelteToast overrides */
  --toastContainerLeft: auto;
  --toastContainerRight: 1rem;
  --toastContainerTop: auto;
  --toastContainerBottom: 1rem;
  --toastBackground: var(--color-bg-darker);
}

html,
body {
  background: var(--color-bg);
  color: var(--color-white);
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  border: none;
}

hr {
  border-color: var(--color-bg-light);
}

#svelte {
  height: 100%;
}
